.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  
}
.card{
  background-color: #eee;
  max-width: 500px;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #333;
  background-size:cover;

}
.form{
  display: flex;
  flex-direction: column;
  padding: 40px 80px;
}

button{
  cursor: pointer;
  padding: 10px;
  margin-top: 20px;
  background-color:rebeccapurple;
  border-radius: 5px;
  color: white;
  border:none;
}
input{
  padding: 10px;
  border-radius: 5px;
  border:none;
  
}
input:focus{
  outline: 2px solid dodgerblue;
  
}
label{
  margin-bottom: 20px;
}

button:hover{
  background-color:rgba(30,144,255,0.9);
}

.nav
{
  background-color: white;
  padding: 1px;
  text-align: center;
}

.footer{
  text-align: center;
  background-color: dodgerblue;
  color: white;
  padding: 1px;
  
}
.content{
  display: flex;
  justify-content: space-between;
  color:white;
  font-size: 18px;
}
.col1{
  margin-right: 40px;
}